  <table id="file-list"
         class="provider-contents"
         role="grid"
         tabindex="-1"
         title="Choose files to upload from the table below"
         aria-live="polite"
         data-provider-contents-page-number="<%= provider_contents_current_page %>">

    <thead>
      <tr role="row" tabindex="-1">
        <th role="columnheader">Name</th>
        <th role="columnheader">Select All?</th>
        <th role="columnheader">Size</th>
        <th role="columnheader">Kind</th>
        <th role="columnheader">Modified</th>
      </tr>
    </thead>
    <% provider_contents.each_with_index do |file, index| %>
      <% next if file.nil? %>

      <%= render partial: 'file', locals: { file: file, index: index, path: browse_everything_engine.contents_path(provider_name, file.id), parent: parent, disabled: disabled?(file: file) } %>
      <% path = browse_everything_engine.contents_path(provider_name, file.id) %>
      <% disabled = disabled?(file: file) %>
    <% end %>
  <%= render partial: 'files_pages' %>
</table>
